<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Print UI Template</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</head>
<body>
    <form>
        <div class="form-group">
            <label>Layout</label>
            <select name="layout" data-gp-parameter="Layout_Template" class="form-control"></select>
        </div>

        <div class="form-group">
            <label>Output Format</label>
            <select name="format" data-gp-parameter="Format" class="form-control"></select>
        </div>

        <fieldset name="layoutOptions">
            <legend>Layout Options</legend>
            <div class="form-group">
                <label>Title Text</label>
                <input name="titleText" type="text" class="form-control" placeholder="Map Title" />
            </div>

            <div class="form-group">
                <label>Author Text</label>
                <input name="authorText" type="text" class="form-control" placeholder="Author name" />
            </div>

            <div class="form-group">
                <label>Copyright Text</label>
                <input name="copyrightText" type="text" class="form-control" placeholder="Insert &copy; text here" />
            </div>

            <div class="form-group">
                <label>Scalebar Unit</label>
                <select name="scalebarUnit" class="form-control">
                    <option value="Miles" selected="selected">Miles</option>
                    <option value="Kilometers">Kilometers</option>
                    <option value="Meters">Meters</option>
                    <option value="Feet">Feet</option>
                </select>
            </div>

            <!-- TODO: legendLayers, customTextElements -->
        </fieldset>

        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-print"></span>Submit</button>
            </div>
            <div class="btn-group" role="group">
                <button type="reset" class="btn btn-default">Reset</button>
            </div>
        </div>

        <section>
            <h1>Print Jobs</h1>
            <ul class="print-jobs-list"></ul>
        </section>
    </form>
</body>
</html>
